.body {
  background-color: #1a1a1a; /* Replace with your preferred dark color */
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.logoImage{
  border-radius: 50%;
}
.card-img-top{
  height: 65%;
  width: 40%;
}
#cardd{
  width: 20rem;
  height: fit-content;
  margin-left: 25px;
  margin-top: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 4px 6px #e516fc;
}

#card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:fit-content;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-color:  #f093fb; /* Set your desired background color */
  border: 1px solid #d1d1d1; /* Add a border if desired */
  border-radius: 40px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }


.custom-img-size {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}  

.recentfound{
  margin-top: 20px;
  color: #f093fb;
}


.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }


  /* Style the file input container */
.file-input-wrapper {
  position: relative;
  display: inline-block;
}

/* Style the actual file input element */
#image {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Style the custom label appearance */
.custom-file-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f093fb;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* Adjust the appearance when hovering over the custom label */
.custom-file-label:hover {
  background-color: #f093fb;
}

.file-input-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-status {
  margin-top: 10px;
}
.upload-status .uploaded {
  color: green;
}
.upload-status .not-uploaded {
  color: red;
}


